@use '../../assets/styles/utils/functions' as *
@use '../../assets/styles/utils/variables' as *

.form-item
  &__wrapper
    align-items: center
    display: flex

  &__icon
    height: rem(32)
    margin-right: rem($margin--xs)
    width: rem(32)

  &__input--flex-grow
    flex-grow: 1
